<ul class="cv-timeline">
  {% for content in entry.contents %}
    <li class="cv-timeline-item">
      <div class="cv-item-head">
        {% if content.title %}
          <span class="cv-item-title">{{ content.title }}</span>
        {% endif %}
        {% if content.year or content.location %}
          <span class="cv-item-meta">
            {% if content.year %}{{ content.year }}{% endif %}
            {% if content.location %}{% if content.year %} &middot; {% endif %}{{ content.location }}{% endif %}
          </span>
        {% endif %}
      </div>

      {% if content.institution %}
        <div class="cv-item-sub">
          <i class="fa-solid fa-building-columns iconinstitution"></i> {{ content.institution }}
        </div>
      {% endif %}
      {% if content.department %}
        <div class="cv-item-sub">
          <i class="fa-regular fa-circle-dot icondepartment"></i> {{ content.department }}
        </div>
      {% endif %}

      {% if content.description %}
        <ul class="cv-item-desc">
          {% for item in content.description %}
            <li>
              {% if item.contents %}
                <span class="item-title">{{ item.title }}</span>
                <ul class="cv-item-subdesc">
                  {% for subitem in item.contents %}
                    <li>{{ subitem }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                {{ item }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if content.items %}
        <ul class="cv-item-desc">
          {% for item in content.items %}
            <li>
              {% if item.contents %}
                <span class="item-title">{{ item.title }}</span>
                <ul class="cv-item-subdesc">
                  {% for subitem in item.contents %}
                    <li>{{ subitem }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                {{ item }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if content.linkitems %}
        <div class="container-links">
          {% for item in content.linkitems %}
            {% if item.link %}
              <div class="container-link-button">
                {% if item.linkname %}
                  <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">{{ item.linkname }}</a>
                {% else %}
                  <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">doc</a>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
